# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual Environment
.venv/
venv/
env/

# Environment Variables
.env

# Flask
instance/

# Logs
*.log

# VS Code
.vscode/

# macOS
.DS_Store

# Node
frontend/node_modules/
frontend/dist/

# React
npm-debug.log*

# Uploads
backend/uploads/
backend/migrations/uploads/

# Pytest
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Alembic cache
backend/migrations/__pycache__/backend.zip
